.DS_Store
.Rhistory
data_list.txt
data/DUX4_baskets.rda
data/DUX4_positive.rda
data/FSHD_markers.rda
data/FSHD_signatures_baskets.rda
data/all_fit.rda
data/b_cell_markers.rda
data/bilat_rlog.rda
data/blood_fat_muscle_content.rda
data/bogus_id.rda
data/bs_methyl.rda
data/candidates.rda
data/comb_dds.rda
data/complement_df.rda
data/control_baskets.rda
data/control_baskets_logsum.rda
data/dds.rda
data/dds_w_outlier.rda
data/four_markers.rda
data/histology.rdaa
data/plier_topZ_markers.rda
data/rlog.rda
data/rlog_w_outlier.rda
data/rna_score.rda
data/sanitized.dds.rda
data/sanitized.rlg.rda
data/histology.rda
data/methyl_clinic.rda
data/moderate_fit.rda
data/mri.rda
data/muscle_strength.rda
data/plier_bliat.rda
figures
gitbook_old
manuscript
stats
presentations
wellstone-application
extdata
docs/*.md
gitbook/_bookdown_files
scripts/16-make-supple-table-1.R
scripts/misc_plays_PLIER_package.R
